page-login {
 font-family:Tahoma,Helvetica,sans-serif;
  .login-content {
    background: RGB(249,250,255);
 
    #bg{
      //min-height: 100%;
      z-index: -1;
      min-width: 100px;
      width: 100%;
      height: auto;
    }

    .login-box {
      border-radius: 25px !important;
      background: #51CFB1;
      padding: 0px 5px 0px 5px;
      margin: 0px 10px 10px 10px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 25px !important;
         padding-left: 20px !important;
         font-size: 0.8em;  
         margin-bottom: 3px;
         //margin-top: 0px;
         //border: 1px solid #ffffff;
         //border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: -20px 16px 0px 16px;
       padding-bottom: 10px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       //background: #51CFB1;
       border-radius: 20px !important;
       font-size: 1em;
       border: 1px solid #ffffff;
       padding: 0px 64px;
     }
 
     .forget-btn {
       color: #ffffff;
       font-size: 0.8em;
       border: 0px;
       text-transform: capitalize;
       margin-top: 0px;
     }
  }
 
}