<!--
  Generated template for the EventInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons>
      <button class="back" ion-button tappable (click)="back()"><ion-icon name="arrow-back"></ion-icon>Back</button>
    </ion-buttons>
    <ion-title *ngIf="event">{{event.title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content">
  <!-- Event Info -->
  <div *ngIf="event">
    <ion-list>
      <ion-list-header>
        Event Info
      </ion-list-header>
      <ion-item no-lines class="title">
        <ion-avatar item-left>
          <img src="https://firebasestorage.googleapis.com/v0/b/clandar-2e188.appspot.com/o/E.png?alt=media&token=edea099a-74a6-4a5b-8c83-559ae0e6c9b2"/>
        </ion-avatar>
        <h2 tappable (click)="setName()" *ngIf="isOrganizer()">{{event.title}}</h2>
        <h2 tappable *ngIf="!(isOrganizer())">{{event.title}}</h2>
        <p tappable (click)="setTime()">Start at: {{event.startTime | date: 'd MMM yyyy, EEE, HH:mm'}}</p>
        <p tappable (click)="setTime()">End at: {{event.startTime | date: 'd MMM yyyy, EEE, HH:mm'}}</p>
      </ion-item>
      <ion-list-header>
        Details
      </ion-list-header>
      <ion-item class="info" no-lines *ngIf="isOrganizer()">
        <p class="location" tappable (click)="setLocation()">Location:  {{event.location}}</p>
      </ion-item>
      <ion-item class="info" no-lines *ngIf="!(isOrganizer())">
        <p class="location" tappable>Location:  {{event.location}}</p>
      </ion-item>
      <ion-item class="info" no-lines *ngIf="isOrganizer()">
        <p class="note" tappable (click)="setNote()">Note:  {{event.note}}</p>
      </ion-item>
      <ion-item class="info" no-lines *ngIf="!(isOrganizer())">
        <p class="note" tappable>Note:  {{event.note}}</p>
      </ion-item>     
      <ion-item class="info" no-lines *ngIf="isOrganizer()">
        <p class="urgency" tappable (click)="setUrgency()">Urgency: {{event.urgency}}</p>
      </ion-item>
      <ion-item class="info" no-lines *ngIf="!(isOrganizer())">
        <p class="urgency" tappable>Urgency:  {{event.urgency}}</p>
      </ion-item>       

      <ion-list-header>
        Event Members <span *ngIf="event.members&&eventRequestsSent">({{event.members.length}}/{{eventRequestsSent.length}})</span>
      </ion-list-header>
      <ion-item *ngFor="let member of members" (click)="viewUser(member.$key)">
        <ion-avatar item-left>
          <img src="{{member.img}}" />
        </ion-avatar>
        <h2>{{member.name}}</h2>
        <p>{{member.email}}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="clubMembers&&clubMembers.length>0">
      <ion-list-header>
        Club Members
      </ion-list-header>
      <ng-container *ngFor="let member of clubMembers">
        <ion-item *ngIf="!joinedEvent()" (click)="viewUser(member.$key)">
          <ion-fab middle right>
            <button color="mainColor" ion-fab mini tappable (click)="invite(member); $event.stopPropagation();" *ngIf="inviteStatus(member.userId,this.eventId)==0"><ion-icon name="md-add-circle" class="success"></ion-icon></button>
            <button color="mainColor" ion-fab mini tappable (click)="removeFromInvitation(member); $event.stopPropagation();" *ngIf="inviteStatus(member.userId,this.eventId)==1"><ion-icon name="md-close-circle" class="danger"></ion-icon></button>
          </ion-fab>
          <ion-avatar item-left>
            <img src="{{member.img}}" />
          </ion-avatar>
          <h2>{{member.name}}</h2>
          <p>{{member.email}}</p>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list>  
      <ion-list-header>
        Organizer Info
      </ion-list-header>
      <ion-item (click)="viewOrganizer(organizer.$key)" tappable>
        <ion-avatar item-start>
          <img src="{{organizer.img}}" />
        </ion-avatar>
        <h2>{{organizer.name}}</h2>
      </ion-item>      
      <ion-item (click)="viewClub()" tappable>
        <ion-avatar item-start>
          <img src="{{club.img}}" />
        </ion-avatar>
        <h2>{{club.name}}</h2>
        <p>{{club.date | DateFormat}}</p>
      </ion-item>
    </ion-list>    

    <ion-list>  
      <ion-list-header>
        More
      </ion-list-header>
      <ion-item no-lines tappable *ngIf="isOrganizer()" (click)="delete()">
        Delete this event
      </ion-item>
      <!-- When there's only one member left, allow deleting of club. -->
      <ion-item no-lines tappable *ngIf="!isOrganizer()&&joinedEvent()" (click)="quit()">
        Quit this event
      </ion-item>
      <ion-item no-lines tappable *ngIf="!joinedEvent()&&!isOrganizer()" (click)="join()">
        Ask to join this event
      </ion-item>
    </ion-list>
  </div>
</ion-content>