page-register {
    font-family:Tahoma,Helvetica,sans-serif;
    .reg-content {
        background: RGB(249,250,255);
 
        .reg-btn {
            //background: #51CFB1;
            border-radius: 20px !important;
            font-size: 1em;
            border: 1px solid #ffffff;
            padding: 0px 0px;
        }

        ion-input{
            border-radius: 20px !important;
            border: 1.5px solid #51CFB1;
            margin-bottom: 10px;
            padding-left: 1pc;
        }

        .reg-box {
            padding: 0px 16px;
            //margin: 0px 10px 10px 10px;
        }
    }
}
