<!--
  Generated template for the Searcher page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Wound you like to...</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class='content' padding>
  <div padding>
    <ion-segment [(ngModel)]="clan">
      <ion-segment-button value="club">
        Clubs
      </ion-segment-button>
      <ion-segment-button value="event">
        Events
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="clan">
    <div no-border  *ngSwitchCase="'club'">
      <div class="empty-list" *ngIf="clubs && clubs.length <= 0">
        <h1><ion-icon name="md-chatbubbles"></ion-icon></h1>
        <p>You haven't joined any club yet.</p>
        <button ion-button icon-left tappable (click)="newClub()"><ion-icon name="md-add"></ion-icon>Create A New Club</button>
        <button ion-button icon-left tappable (click)="joinClub()"><ion-icon name="md-add"></ion-icon>Join A Club</button>
      </div>
      
    
      <ion-list *ngIf="clubs && clubs.length > 0">
        <button ion-button full tappable (click)="newClub()">Create A Club</button> 
        <button ion-button full tappable (click)="joinClub()">Join A Club</button>                
        <ion-searchbar [(ngModel)]="searchClub" placeholder="Search for club" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
        <ion-item *ngFor="let club of clubs | clubFilter: searchClub">
          <ion-col width-50 (click)="viewClub(club.$key)" tappable>
            <div [ngClass]=hasUnreadMessages(club)>
              <img src="{{club.img}}" />
              <ion-badge color="danger" *ngIf="club.unreadMessagesCount > 0">{{club.unreadMessagesCount}}</ion-badge>
              <p>{{club.name}}</p>
              <span>{{club.date | DateFormat}}</span>
            </div>
          </ion-col>
        </ion-item>
      </ion-list>
    </div>

    <div no-border  *ngSwitchCase="'event'">
      
      <ion-item>
        Dialogue with leaders in Social Media
      </ion-item>

      <ion-item>
        SMU Open House 2015
      </ion-item>

      <ion-item>
        YIC final presentation invitation
      </ion-item>

      <ion-item>
        SPF career talk
      </ion-item>   

      <ion-item>
        Sea game volunteers
      </ion-item>  

      <ion-item>
        Social Media Internship
      </ion-item>

      <ion-item>
        Business Development Intern
      </ion-item> 

    </div>
  </div>
</ion-content>
