page-event-modal {
    font-family:Tahoma,Helvetica,sans-serif;

    ion-header{
        .back{
            color: #51CFB1;
        }
        ion-icon{
            font-size: 42px;
            margin-right: 5px;
        }
    }

    .content{
        .titles{
            color:white;
            padding: 10px 8px;
            border-radius: 8px;
        }
    }
}
