page-tdlist {
    font-family:Tahoma,Helvetica,sans-serif;

    .content{
        background: white;

        .add{
			color: RGB(233,30,99);
			font-size: 50px;
			//background-color: white;
		}

        .head{
            background-color:RGB(70,57,75);
            //padding-left:24px;

            span{
                font-size: 17px;
                color: RGB(170,170,170);
            }
        }

    }
}
