<!--
  Generated template for the TdlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>   
    <ion-title>To-do List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item class="head">
    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <h1 style="color:RGB(255,120,82)">{{myDate | date:'EEEE, d'}}</h1>
          <span>{{myDate | date:'MMMM, yyyy'}}</span>
        </ion-col>
        <ion-col class="button" col-3>
          <ion-buttons end>
            <button [navPush]="taskPage" ion-button clear icon-only>
              <ion-icon name="add" class="add"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <h1>In Progress</h1>
  </ion-item>

  <ng-container *ngFor="let task of tasks | async">
    <ion-card *ngIf="task.finished==false">
      <ion-card-content style="margin-bottom: -20px">
        <ion-card-title>
          {{task.name}}
        </ion-card-title>
        <ion-note *ngIf="isBefore(task.due)==true">Overdue</ion-note>
        <p>Deadline: {{task.due | date: 'd MMM yyyy, EEE, HH:mm:ss'}}</p>
        <p>Urgency: {{task.urgency}}</p>
        <p *ngIf="task.hide==false"> Reminder: {{task.reminder}}</p>
        <p *ngIf="task.hide==false">Note: {{task.note}}</p>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col text-left *ngIf="task.hide==true" col-4>
          <button (click)="collapse(task.$key, task.hide)" ion-button clear small color="danger" icon-start>
            <ion-icon name='arrow-dropdown'></ion-icon>
            Details
          </button>
        </ion-col>
        <ion-col text-left *ngIf="task.hide==false" col-4>
          <button (click)="hiding(task.$key, task.hide)" ion-button clear small color="danger" icon-start>
            <ion-icon name='arrow-dropup'></ion-icon>
            Details
          </button>
        </ion-col>
        <ion-col text-center col-4>
          <button (click)="edit(task)" ion-button clear small color="danger" icon-start>
            <ion-icon name='create'></ion-icon>
            Edit
          </button>
        </ion-col>
        <ion-col text-right col-4>
          <button (click)="more(task)" ion-button clear small color="danger" icon-start> 
            <ion-icon name='more'></ion-icon>
            More
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-container>

  <ion-item>
    <h1>Completed</h1>
  </ion-item>

  <ng-container *ngFor="let task of tasks | async">
    <ion-card *ngIf="task.finished==true">
      <ion-card-content>
        <ion-card-title>
          {{task.name}}
        </ion-card-title>
        <ion-note *ngIf="isBefore(task.due)==true">Overdue</ion-note>
        <p>Deadline: {{task.due | date: 'd MMM yyyy, EEE, HH:mm:ss'}}</p>
        <p>Urgency: {{task.urgency}}</p>
        <p *ngIf="task.hide==false"> Reminder: {{task.reminder}}</p>
        <p *ngIf="task.hide==false">Note: {{task.note}}</p>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col *ngIf="task.hide==true">
          <button (click)="collapse(task.$key, task.hide)" ion-button clear small color="danger" icon-start>
            <ion-icon name='arrow-dropdown'></ion-icon>
            Details
          </button>
        </ion-col>
        <ion-col *ngIf="task.hide==false">
          <button (click)="hiding(task.$key, task.hide)" ion-button clear small color="danger" icon-start>
            <ion-icon name='arrow-dropup'></ion-icon>
            Details
          </button>
        </ion-col>
        <ion-col text-center>
          <button (click)="edit(task)" ion-button clear small color="danger" icon-start>
            <ion-icon name='create'></ion-icon>
            Edit
          </button>
        </ion-col>
        <ion-col text-right>
          <button (click)="more(task)" ion-button clear small color="danger" icon-start> 
            <ion-icon name='more'></ion-icon>
            More
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-container>

</ion-content>