<ion-header>
  <ion-navbar>
    <ion-title>To-do List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="list-content">
  <ion-item class="head">
    <h1 style="color:RGB(255,120,82)">{{myDate | date:'EEEE, d'}}</h1>
    <span>{{myDate | date:'MMMM'}}</span><span style="float:right">{{todos.length}} {{todos.length == 1||todos.length == 0 ? 'task' : 'tasks'}}</span>
  </ion-item>
    <section class="todoapp">
      <header class="header">
        <input class="new-todo" placeholder="Get things done!" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
      </header>
      <section class="main" *ngIf="todos.length > 0">
        <ul class="todo-list">
          <todo-item *ngFor="let todo of todos" [todo]="todo">
          </todo-item>
        </ul>
      </section>
    </section>
    <ion-icon name="add-circle" class="add"></ion-icon>

</ion-content>
