page-requests {
    ion-header{
        .back{
            color: #51CFB1;
        }
        ion-icon{
            font-size: 42px;
            margin-right: 5px;
        }
    }
    
    .content{
        .empty-list{
            text-align: center;
        }
    }
}
