page-information {
    font-family:Tahoma,Helvetica,sans-serif;
    .content{
        background: RGB(250,249,255);

        .head{
            background-image: url("../assets/img/regLogo.png");
            background-size:     auto 100%;                      /* <------ */
            background-repeat:   no-repeat;
            background-position: center center;              /* optional, center the image */
        }

        .head .tx{
            text-align: center;
        }

        .head .img{
            width: 80px !important;
            height: 80px !important;  
            //max-width: 30px !important;  //any size
            //max-height: 1000px !important; //any size  
            //border: 1px solid #000;
            background-color: transparent;
            //border: 1px solid white;
            //border-radius: 40px;
        }

        .opt{
            font-size: 20px;
        }
    }
}
