page-clubs {
    ion-header{
        .back{
            color: #51CFB1;
        }
        ion-icon{
            font-size: 42px;
            margin-right: 5px;
        }
    }
    
    .content{
        hr{
            margin-top: -20px;
            height: 4px;
            background-color: lightgray;
            border-radius: 2px;
            width: 92vw;
        }
    }

}
